*{
    margin: 0;
    border: 0;
    color: white;
}
#principal{
    background-image: linear-gradient(20deg,#CA57DE,#7C18F5,#2116EA);
}
#cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 10px;
    
}
.logo{
    width: 90px;
    height: 90px;
    display: flex;
}
#logo{
    border-radius: 50px;
}
.menu{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 510;
    cursor: pointer;
}
.conteudo-principal{
    
    border-top: 0.4px solid #fff ;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.texto{
    color: white;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 253, 253, 0.082);
    width: 50vw;
    height: 80vh;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.192);
}
h1{
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
p{
    align-items: center;
    text-justify: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.imagem{
    width: 70vw;
    height: 70vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#conteudo-secunadrio{
    border-top: 0.4px solid #fff ;
    padding: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes-sociais{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: white;

}
#twitter:hover{
    color: #00acee;
}
#facebook:hover{
    color: #3b5998;
}
#instagram:hover{
    background-image: linear-gradient(45deg,#405DE6,#5B51D8,#833AB4,#C13584,#E1306C,#FD1D1D,#F56040,#F77737,#FCAF45,#FFDC80);

}
footer{
    padding: 10px;
    margin-top: 15px;
    border-top: 0.4px solid #fff ;
    align-items: center;
    justify-content: center;
}